/* 重置樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Router {
  display: flex;
  flex-direction: column;  /* 保持垂直排列 */
  min-height: 100vh;        /* 填滿整個視窗高度 */
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2 {
  margin-bottom: 10px;
}

.content {
  width: 100%;               /* 讓內容寬度隨視窗大小調整 */
  margin: auto;              /* 水平居中 */
  flex-grow: 1;              /* 使內容區域填滿剩餘空間 */
  box-sizing: border-box;    /* 包括 padding 和 border 在內的尺寸計算 */
}
