.sidebar {
    position: fixed; /* 固定位置 */
    top: 60px;       /* 上方列高度 */
    bottom: 40px;    /* 下方列高度 */
    left: 0;         /* 固定在畫面左側 */
    height: calc(100vh - 100px); /* 總高度減去上下列的高度 (60px + 40px) */
    width: 200px;    /* 側邊欄寬度 */
    background-color: #D1B39E;
    color: #000000;
    padding: 20px;
    overflow-y: auto; /* 超出範圍時可滾動 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #B8860B;
    padding-left: 20px; /* 偏移左邊距 */
    border-radius: 10px; /* 圓角邊 */
}
